<header>
  <nav>
    <ul>
      <li><a href='/' class="<%= title == 'Home Page' ? 'location' : 'navigation' %>">HOME</a></li>
      <li><a href='contact' class="<%= title == 'Contact Page' ? 'location' : 'navigation' %>">CONTACTS</a></li>
      <li><a href='resources' class="<%= title == 'Learning Resources' ? 'location' : 'navigation' %>">RESOURCES</a>
      </li>
      <li><a href='definitions'
          class="<%= title == 'Terms and Definitions' ? 'location' : 'navigation' %>">DEFINITIONS</a></li>
    </ul>
  </nav>
</header>
<div class="container">
  <div class="main">